/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Jan, 2015, 12:55:58 PM
    Author     : Vini
*/

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family: GothamBook;
    src: url('../fonts/GothamBook.ttf')
}

@font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url('../fonts/OpenSans-SemiboldItalic.ttf');
}

@font-face {
    font-family: OpenSans-LightItalic;
    src: url('../fonts/OpenSans-LightItalic.ttf');
}

body {
    font-family: "OpenSans",sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}



.left-container
{
    padding: 20px 20px;

}

@media (min-width: 1200px)
.container {
    width: 1170px;
}

@media (min-width: 992px)
.container {
    width: 970px;
}

@media (min-width: 768px)
.container {
    width: 750px;
}


@media (min-width: 1200px)
.middle-container {
   bottom:30%;
}

@media (min-width: 992px)
.middle-container {
     bottom:20%;
}

@media (min-width: 768px)
.middle-container {
   bottom:5%;
}


.middle-container {

    color:#646464;
    font-family: GothamBook,sans-serif;


    position: absolute;

/*    bottom:30%;
    padding-bottom: 5px;*/



    margin-left:300px;




}


.left-image{
 
    font-size: 35px;
    font-family: OpenSans-SemiboldItalic;
    color:#ffb900;

}



.left{

    font-size: 20px;
    font-family: OpenSans-LightItalic;
    color:#646464;

}

.right{

    font-size: 16px;
    font-family: OpenSans;
    color:#646464;

}

.right span{

 
    color:#ffb900;

}

.dotted
{
    padding-top: 20px;
        padding-bottom: 0px;
        
        border: 1px #ffb900 dotted;
}





.container
{
    /* display: table; */
    margin-top: 80px;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}
.header-container{

    position: fixed;
    top: 0;
    left:0;
    right: 0;
    width: 100%;
    z-index: 2000;
    height: 80px;
    background-color: #FCB614;
    color:#fff;


}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
        padding-top: 200px;
        text-align: center;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

